<h1>Angular Signal</h1>
<label>new item
  <input type="text" [value]="newItemName()" (input)="updateNewItem($event)">
</label>

<button (click)="itemService.appendItem(newItemName())">Append Name</button>
<button (click)="itemService.clearItems()">Clear Items</button>
<button (click)="handleClick()">log items</button>
<br>
<label>name filter
  <input type="text" [value]="nameFilter()" (input)="updateNameFilter($event)">
</label>

<ul>
  @for(item of visible(); track item.id) {
    <li (click)="chooseItem(item.id)"
        [ngClass]="{ bold: (chooseItem$ | async)  == item.id}"
    >
      {{item?.name}}
    </li>
  }
</ul>
Chosen ID: {{ chooseItem$ | async}} Chosen ID (signal) : {{ chosenItem()}}

<!--<ul>-->
<!--  @for(item of items(); track item.id) {-->
<!--    <li>-->
<!--      {{item?.name}}-->
<!--    </li>-->
<!--  }-->
<!--</ul>-->

@if (lastItem()) {
  <br>
  {{'lastItem: ' + lastItem().name}}
}
<br>
<label>
  <input type="checkbox" [(ngModel)]="showChild">
  show child component</label>
@if (showChild) {
  <app-child></app-child>
}

<ul>
  @for (user of user$ | async; track user.id) {
    <li>ID: {{user.id}}, name: {{user.name}}</li>
  }
</ul>
<!--<ul>-->
<!--  @for(item of filterItem(); track item.id) {-->
<!--    <li>-->
<!--      {{item?.name}}-->
<!--    </li>-->
<!--  }-->
<!--</ul>-->

<!--<ul>-->
<!--  @for(item of visible(); track item.id) {-->
<!--    <li>-->
<!--      {{item?.name}}-->
<!--    </li>-->
<!--  }-->
<!--</ul>-->


